#plus_button {
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
  background-color: #41bf8b;
  border: none;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  margin: auto;
  display: inline-block;
  outline: none;
}

#plus_button:hover {
  background-color: #288e64;
}

#textbox {
  display: inline-block;
}

#clear_button {
  font-size: 1em;
  color: #FFF;
  cursor: pointer;
  background-color: #41bf8b;
  border: none;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  margin: auto;
  display: block;
  outline: none;
}

#plus_button:hover {
  background-color: #288e64;
}

#frame {
  position: fixed;
  right: 16px;
  bottom: 48px;
  width: 120px;
}